<%= form_with model: profile, class: "form" do |form| %>
  <% if profile.persisted?
      is_edit = true
    else
      is_edit = false
    end
  %>

  <%# ニックネーム %>
  <div class="field">
    <%= form.label :nickname, class: "require" %>
    <%= form.text_field :nickname, autofocus: true, class: "text-field", maxlength: 20 %>
  </div>

  <% if is_edit %>
    <%# ユーザーID %>
    <div class="field">
      <%= form.label :identifier %>
      <%= form.text_field :identifier, class: "text-field", maxlength: 10 %>
    </div>
  <% end %>

  <div data-controller="prefecture-municipality" class="field">
    <%= label_tag nil, "マイタウン", class: "require" %>
    <div class="mytown-selects">
      <%= form.collection_select :prefecture_id, Prefecture.all, :id, :name_kanji, {}, { class: "select-field", data: { action: "change->prefecture-municipality#loadMunicipalities" }} %>

      <%= form.collection_select :municipality_id, Municipality.where(prefecture_id: form.object.prefecture_id || 1).order(:name_kana), :id, :name_kanji, {}, { class: "select-field", data: { prefecture_municipality_target: "municipality" }} %>
    </div>
  </div>

  <% unless is_edit %>
    <%# 同意チェック %>
    <div class="field flex">
      <%= form.check_box :agreement, class: "ml-2 scale-150" %>
      <%= form.label :agreement, class: "flex-1 ml-4 text-center" do %>
        <%= link_to "利用規約", terms_path, target: "_blank", class: "link text-xl" %>
        <span> / </span>
        <%= link_to "プライバシーポリシー", privacy_path, target: "_blank", class: "link text-xl" %>
        <div><span>に同意します</span></div>
      <% end %>
    </div>
  <% end %>

  <% if is_edit %>
    <%# 自己紹介 %>
    <div class="field">
      <%= form.label :bio %>
      <%= form.text_area :bio, rows: 6, class: "textarea-field", maxlength: 500 %>
    </div>

    <%# アイコン %>
    <div class="field">
      <%= form.label :avatar %>
      <%= form.file_field :avatar, class: "file-field" %>
      <% if profile.avatar? %>
        <p class="mt-2">現在の画像:</p>
        <%= image_tag(profile.avatar.url, class: "w-32") %>
      <% end %>
      <%= form.hidden_field :avatar_cache %>
    </div>
  <% end %>

  <div class="actions text-center">
    <% submit_class_name = "button" %>
    <% if is_edit %>
      <% submit_class_name += " button-edit" %>
    <% end %>
    <%= form.submit nil, class: submit_class_name %>
  </div>
<% end %>