<%= turbo_stream.after "chat-last-page-marker" do %>
  <% @chats.reverse_each do |chat| %>
    <% if current_user == chat.user %>
      <%= render "shared/chat_mine", info_level: @machi_repo.info_level, chat: chat %>
    <% else %>
      <%= render "shared/chat_others", nickname: chat.user.profile.nickname, chat: chat %>
    <% end %>
  <% end %>
<% end %>

<%= turbo_stream.replace "chat-last-page-marker" do %>
  <div id="chat-last-page-marker" data-last-page="<%= @chats.last_page? %>" class="hidden"></div>
<% end %>
