<%= turbo_stream.after "chat-last-page-marker" do %>
  <% previous_date = @new_prev_date %>
  <%= render "shared/chat_date_block", date: previous_date %>
  <% @chats.reverse_each do |chat| %>
    <% chat_date = chat.created_at.to_date %>
    <% if previous_date != chat_date %>
      <%= render "shared/chat_date_block", date: chat_date %>
    <% end %>
    <% previous_date = chat_date %>

    <% if current_user == chat.user %>
      <%= render "shared/chat_mine", chat: chat, chat_color_class_name: "#{@machi_repo.info_level}", remove_button: render("machi_repos/chats/chat_remove_button", machi_repo: @machi_repo, chat: chat) %>
    <% else %>
      <%= render "shared/chat_others", nickname: chat.user.profile.nickname, chat: chat %>
    <% end %>
  <% end %>
<% end %>

<%= turbo_stream.replace "chat-last-page-marker" do %>
  <div id="chat-last-page-marker" data-last-page="<%= @is_last_page %>" class="hidden"></div>
<% end %>

<%= turbo_stream.replace "chats-previous-last-data" do %>
  <div
    id="chats-previous-last-data"
    data-previous-last-created="<%= @chats.last&.created_at&.to_i %>"
    data-previous-last-id="<%= @chats.last&.id %>"
    class="hidden"
  ></div>
<% end %>