<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Portfolio" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="flex flex-col min-h-[100vh] bg-[#E6F0FE]">
    <section id="top" class="mb-8 h-[100vw] max-h-[500px] bg-[#F6B355] text-center text-white">
      <div class="mx-auto max-w-[500px]">
        <h1 class="mt-[30%]">
          <div><span class="inline-block tracking-[1em] text-indent-1em">まちヴィジル</span></div>
          <div><span class="inline-block pb-3 px-[0.3em] border-b-5 border-b-[#6699FF] text-6xl font-bold">Machi Vigil</span></div>
        </h1>
        <p class="mt-[8%] text-2xl tracking-wider">
          自分たちの"まち"を<br>
          みんなで見守ろう！
        </p>
        <div class="mt-[5%]">
          <%= link_to "ログインへ", new_user_session_path, class: "link text-2xl" %>
        </div>
      </div>
    </section>

    <p class=""><%= notice %></p>
    <p class=""><%= alert %></p>

    <section id="about-app" class="about-card">
      <h2 class="mb-4">
        <span class="header1">Machi Vigilについて</span>
      </h2>
      <div class="about-card-content">
        <p class="tracking-widest">
          "Machi Vigil"は、"まち"で起きている<br>
          安心や安全に関わる様々な情報<br>
          “まちレポ”を<br>
          みんなで共有するためのサービスです！<br>
          <br>
          １つの情報がみんなの安心や安全に<br>
          繋がります！<br>
          <br>
          "まちレポ"について<br>
          チャットで話し合うことができます！<br>
          <br>
          みんなで"まち"を見守っていきましょう！
        </p>
      </div>
    </section>

    <section id="about-hotspot" class="about-card">
      <h2 class="mb-4 text-center">
        <span class="header1">ホットスポット</span>
      </h2>
      <div class="flex flex-col md:flex-row items-center">
        <div id="about-hotspot-text" class="about-card-content md:flex-1">
          <p class="text-center tracking-widest">
            "まちレポ"の発生場所を<br>
            “ホットスポット”と呼びます！<br>
            <br>
            “ホットスポット”は<br>
            マップに表示されるので<br>
            身近な"まちレポ"を確認しましょう！<br>
            <br>
            "まちレポ"は緊急度によって<br>
            ”情報レベル”が設定されます。<br>
            緊急度の高い順に<br>
            赤 > 黄 > 緑<br>
            で色分けされています。<br>
          </p>
        </div>
        <div id="about-hotspot-image"  class="about-card-content md:flex-1">
          <img src="">
        </div>
      </div>
    </section>

    <section id="about-community" class="about-card">
      <h2 class="mb-4">
        <span class="header1">コミュニティ</span>
      </h2>
      <div class="about-card-content">
        <p class="tracking-widest">
          "まち"をみんなで見守るための<br>
          “コミュニティ”があります！<br>
          <br>
          “コミュニティ”を利用して<br>
          “まち”を見守る仲間を<br>
          集めていきましょう！
        </p>
      </div>
    </section>

    <%= render "shared/footer"%>
  </body>
</html>

