<!-- 自分のチャット -->
<div
  data-chat-id="<%= chat&.id %>"
  class="chat <%= "#{info_level}" %>"
>
  <div class="chat-else">
    <div></div>
    <div class="chat-time">
      <time><%= chat&.created_at&.strftime("%H:%M") %></time>
    </div>
  </div>
  <% if chat&.image? %>
    <div class="chat-image-wrapper">
      <%= image_tag(chat.image.url, class: "chat-image") %>
    </div>
  <% elsif chat&.message.present? %>
    <div class="chat-message-wrapper">
      <%= simple_format(chat&.message, class: "chat-message") %>
    </div>
  <% else %>
    <div class="chat-content-wrapper"></div>
  <% end %>
</div>