<!-- 自分のチャット -->
<div
  id="chat_<%= chat&.id %>"
  class="chat <%= chat_color_class_name %>"
  data-chat-own="mine"
>
  <div class="chat-else">
    <div></div>
    <div class="chat-time">
      <time><%= chat&.created_at&.strftime("%H:%M") %></time>
    </div>
  </div>
  <div class="chat-contents relative">
    <%= remove_button&.html_safe %>
    <div class="chat-contents-wrapper">
      <% if chat&.image? %>
        <div class="chat-image-wrapper">
          <%= image_tag(chat.image.url, loading: "lazy", class: "chat-image", style: aspect_height_style_for_chat_image(chat)) %>
        </div>
      <% elsif chat&.message.present? %>
        <div class="chat-message-wrapper">
          <%= simple_format(chat&.message, class: "chat-message") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
