<div class="community-card relative shadow rounded-lg py-2 px-2 w-80 bg-white">
  <%= link_to community_path(community), id: "community-card-#{community.id}", class: "absolute inset-0" do %><% end %>
  <!-- ヘッダー -->
  <h3 class="header2 flex justify-between items-end gap-1 ml-0">
    <span class="text-xl truncate overflow-hidden whitespace-nowrap">
      <%= community.name %>
    </span>
    <% membership_status = memberships_by_community_id[community.id]&.status %>
    <span class="flex-shrink-0 text-base">
      <% if membership_status == "approved" %>
        <span class="text-blue-500">参加中</span>
      <% elsif membership_status == "requested" %>
        <span class="text-green-500">参加希望</span>
      <% elsif membership_status == "invited" %>
        <span class="text-red-500 text-lg">スカウト</span>
      <% else %>
        <span class="text-gray-500">未参加</span>
      <% end %>
    </span>
  </h3>
  <div class="flex items-center gap-1 w-full">
    <!-- アイコン -->
    <div class="flex-shrink-0 w-20 h-20 flex justify-center items-center">
      <% if community.icon? %>
        <%= image_tag(community.icon.thumb.url, class: "w-full h-full object-cover") %>
      <% else %>
        <div class="w-18 aspect-square">
          <%= render "shared/icons/handshake_icon" %>
        </div>
      <% end %>
    </div>
    <div class="flex-1 p-2 min-w-0">
      <!-- 活動拠点 -->
      <p class="flex items-end mb-1 h-8">
        <span class="flex-shrink-0 w-6 aspect-square">
          <%= render "shared/icons/camping_icon" %>
        </span>
        <span class="ml-1 truncate overflow-hidden whitespace-nowrap">
          <%= community.base %>
        </span>
      </p>
      <!-- メンバー数 -->
      <p class="flex mb-1">
        <span class="flex-shrink-0 w-6 aspect-square">
          <%= render "shared/icons/groups_icon" %>
        </span>
        <span class="w-full ml-1">
          <%= community.approved_members_count %>人
        </span>
      </p>
      <!-- 作成日時 -->
      <p class="flex">
        <span class="flex-shrink-0 w-6 aspect-square">
          <%= render "shared/icons/schedule_icon" %>
        </span>
        <span class="ml-1">
          <time><%= community.created_at.strftime("%Y/%m/%d") %></time>
        </span>
      </p>
    </div>
  </div>
</div>