<header class="flex justify-center items-center border-b-3 border-[#C2750A] h-20 bg-[#F6B355] md:justify-start">
  <% if user_signed_in? && current_user.profile&.persisted? %>
    <div class="flex-1 text-center md:text-left">
      <%= link_to "Machi Vigil", machi_repos_path, class: "text-white text-5xl md:ml-8" %>
    </div>
    <div class="hidden md:block">
      <%= render "shared/navigation" %>
    </div>
    <div data-controller="hamburger-menu" class="mr-4 w-12 aspect-square text-white">
      <%# メニュー開くアイコン %>
      <div data-action="click->hamburger-menu#toggleMenu">
        <%= render "shared/icons/menu_icon" %>
      </div>

      <nav data-hamburger-menu-target="menu" class="hidden fixed top-0 right-0 bottom-0 w-full bg-black text-center text-white z-10 md:max-w-[400px]">
        <%# メニュー閉じるアイコン %>
        <div data-action="click->hamburger-menu#toggleMenu" class="flex justify-end mt-6 mr-4 ml-auto w-12 aspect-square text-white">
          <%= render "shared/icons/close_icon" %>
        </div>
        <h2 class="header1 mb-8">メニュー</h2>
        <ul class="text-2xl">
          <li class="menu-list text-gray-500">
            <%= link_to "アカウント管理", accounts_path %>
          </li>
          <li class="menu-list">
            <%= link_to "ヘルプ", helps_path %>
          </li>
          <li class="menu-list">
            <%= link_to "利用規約", terms_path %>
          </li>
          <li class="menu-list">
            <%= link_to "プライバシーポリシー", privacy_path %>
          </li>
          <li class="menu-list">
            <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
          </li>
        </ul>
        <div class="mt-auto">
          <small>&copy; 2025 Machi Vigil</small>
        </div>
      </nav>
      <div
        data-hamburger-menu-target="cover"
        data-action="click->hamburger-menu#toggleMenu"
        class="hidden fixed top-0 right-0 bottom-0 left-0 bg-black/70 z-5"
      >
      </div>
    </div>
  <% else %>
    <div class="flex-1 text-center md:text-left">
      <%= link_to "Machi Vigil", root_path, class: "text-white text-5xl md:ml-8" %>
    </div>
  <% end %>
</header>