<% content_for :title, "マイページ" %>

<div class="border-b-2 border-gray-400 text-center">
  <h2 class="mb-6">
    <span class="header1">マイページ</span>
    <p>
      登録したプロフィールを確認できます
    </p>
  </h2>

  <nav class="md:fixed md:top-[250px] md:left-[50px]">
    <ul class="flex justify-around mb-4 mx-auto max-w-[500px] md:flex-col md:h-100">
      <% if controller_name == "profiles" && action_name == "show"
        current_page = "profile"
      elsif controller_name == "machi_repos" && action_name == "my_machi_repos"
        current_page = "my_machi_repos"
      elsif controller_name == "machi_repos" && action_name == "bookmarks"
        current_page = "bookmark"
      elsif controller_name == "users" && action_name == "followings"
        current_page = "following"
      else
        current_page = ""
      end %>
      <!-- プロフィール -->
      <li>
        <%= link_to profile_path(current_user.profile), class: "icon-circle-wrapper #{"icon-circle-wrapper-current" if current_page == "profile"}", id: "profile-link" do %>
          <div class="icon-circle <%= "icon-circle-current" if current_page == "profile" %>">
            <div class="w-8 aspect-square">
              <%= render "shared/icons/person_icon" %>
            </div>
          </div>
          <span class="icon-circle-text text-[13px]">プロフィール</span>
        <% end %>
      </li>
      <!-- マイまちレポ -->
      <li>
        <%= link_to my_machi_repos_machi_repos_path(user_id: current_user.id), class: "icon-circle-wrapper #{"icon-circle-wrapper-current" if current_page == "my_machi_repos"}", id: "my-machi-repo-link" do %>
          <div class="icon-circle <%= "icon-circle-current" if current_page == "my_machi_repos" %>">
            <div class="w-8 aspect-square">
              <%= render "shared/icons/home_work_icon" %>
            </div>
          </div>
          <span class="icon-circle-text text-[13px]">マイまちレポ</span>
        <% end %>
      </li>
      <!-- ブックマーク -->
      <li>
        <%= link_to bookmarks_machi_repos_path, class: "icon-circle-wrapper #{"icon-circle-wrapper-current" if current_page == "bookmark"}", id: "bookmark-link" do %>
          <div class="icon-circle <%= "icon-circle-current" if current_page == "bookmark" %>">
            <div class="w-8 aspect-square">
              <%= render "shared/icons/star_icon" %>
            </div>
          </div>
          <span class="icon-circle-text text-[13px]">ブックマーク</span>
        <% end %>
      </li>
      <!-- フォロー -->
      <li>
        <%= link_to followings_user_path(current_user), class: "icon-circle-wrapper #{"icon-circle-wrapper-current" if current_page == "following"}", id: "following-link" do %>
          <div class="icon-circle <%= "icon-circle-current" if current_page == "following" %>">
            <div class="w-8 aspect-square">
              <%= render "shared/icons/owl_icon" %>
            </div>
          </div>
          <span class="icon-circle-text text-[13px]">フォロー</span>
        <% end %>
      </li>
      <!-- コミュニティ -->
      <li>
        <%= link_to "#", class: "icon-circle-wrapper #{"icon-circle-wrapper-current" if current_page == "community"}", id: "community-link" do %>
          <div class="icon-circle <%= "icon-circle-current" if current_page == "community" %>">
            <div class="w-8 aspect-square">
              <%= render "shared/icons/handshake_icon" %>
            </div>
          </div>
          <span class="icon-circle-text text-[13px]">コミュニティ</span>
        <% end %>
      </li>
    </ul>
  </nav>
</div>