<% if user_signed_in? && current_user.profile&.persisted? %>
  <nav class="fixed bottom-0 left-0 right-0 border-t-1 border-gray-400 h-[60px] bg-white md:relative md:border-none md:bg-transparent md:w-[320px] md:mr-2">
    <ul class="flex">
      <%# まちレポアイコン %>
      <li class="flex-1 text-black md:text-white">

        <%= link_to machi_repos_path, class: "nav-icon #{"pointer-events-none" if current_page?(machi_repos_path)}" do %>
          <div class="w-10 aspect-square">
            <% if current_page?(machi_repos_path) %>
              <%= render "shared/icons/home_work_full_icon" %>
            <% else %>
              <%= render "shared/icons/home_work_icon" %>
            <% end %>
          </div>
          <span class="nav-text">まちレポ</span>
        <% end %>
      </li>

      <%# まちレポ作成アイコン %>
      <li class="flex-1 text-black md:text-white">
        <%= link_to new_machi_repo_path, class: "nav-icon #{"pointer-events-none" if current_page?(new_machi_repo_path)}" do %>
          <div class="w-10 aspect-square">
            <% if current_page?(new_machi_repo_path) %>
              <%= render "shared/icons/add_home_work_full_icon" %>
            <% else %>
              <%= render "shared/icons/add_home_work_icon" %>
            <% end %>
          </div>
          <span class="nav-text">作成</span>
        <% end %>
      </li>

      <%# TOPアイコン(モバイル版のみ) %>
      <li class="flex-1 text-black md:hidden">
        <%= button_tag type: "button",
          data: { controller: "scroll", action: "click->scroll#toTop" },
          class: "nav-icon w-full" do
        %>
          <div class="w-10 aspect-square">
            <%= render "shared/icons/keyboard_arrow_up_icon" %>
          </div>
          <span class="nav-text">TOP</span>
        <% end %>
      </li>

      <%# コミュニティアイコン %>
      <li class="flex-1 text-black md:text-white">
        <%= link_to communities_path, class: "nav-icon #{"pointer-events-none" if current_page?(communities_path)}" do %>
          <div class="w-10 aspect-square text-gray-300">
            <%= render "shared/icons/handshake_full_icon" %>
<%
=begin
%>
            <% if current_page?(communities_path) %>
              <%= render "shared/icons/handshake_full_icon" %>
            <% else %>
              <%= render "shared/icons/handshake_icon" %>
            <% end %>
<%
=end
%>
          </div>
          <span class="nav-text">コミュニティ</span>
        <% end %>
      </li>

      <%# マイページアイコン %>
      <li class="flex-1 text-black md:text-white">
        <% profile = current_user.profile %>
        <%= link_to profile_path(profile), class: "nav-icon #{"pointer-events-none" if current_page?(profile_path(profile))}" do %>
          <div class="w-10 aspect-square">
            <% if current_page?(profile_path(profile)) %>
              <%= render "shared/icons/account_circle_full_icon" %>
            <% else %>
              <%= render "shared/icons/account_circle_icon" %>
            <% end %>
          </div>
          <span class="nav-text">マイページ</span>
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>