<% if user_signed_in? %>
  <nav class="fixed bottom-0 left-0 right-0 h-[60px] bg-white md:relative md:bg-transparent md:w-[320px] md:mr-2">
    <ul class="flex">
      <%# まちレポアイコン %>
      <li class="flex-1 text-black md:text-white">

        <%= link_to machi_repos_path, class: "nav-icon #{"pointer-events-none" if current_page?(machi_repos_path)}" do %>
          <div class="w-10 aspect-square">
            <% if current_page?(machi_repos_path) %>
              <%= render "shared/icons/home_work_full_icon" %>
            <% else %>
              <%= render "shared/icons/home_work_icon" %>
            <% end %>
          </div>
          <span class="nav-text">まちレポ</span>
        <% end %>
      </li>

      <%# まちレポ作成アイコン %>
      <li class="flex-1 text-black md:text-white">
        <%= link_to new_machi_repo_path, class: "nav-icon #{"pointer-events-none" if current_page?(new_machi_repo_path)}" do %>
          <div class="w-10 aspect-square">
            <% if current_page?(new_machi_repo_path) %>
              <%= render "shared/icons/add_home_work_full_icon" %>
            <% else %>
              <%= render "shared/icons/add_home_work_icon" %>
            <% end %>
          </div>
          <span class="nav-text">作成</span>
        <% end %>
      </li>

      <%# TOPアイコン %>
      <li class="flex-1 text-black md:fixed md:bottom-[20px] md:right-[20px] md:border md:rounded-full md:w-18 md:aspect-square md:bg-white md:z-1">
        <%= button_tag type: "button",
          data: { controller: "scroll", action: "click->scroll#toTop" },
          class: "nav-icon w-full" do
        %>
          <div class="w-10 aspect-square">
            <%= render "shared/icons/keyboard_arrow_up_icon" %>
          </div>
          <span class="nav-text">TOP</span>
        <% end %>
      </li>

      <%# コミュニティアイコン %>
      <li class="flex-1 text-black md:text-white">
        <%= link_to "#", class: "nav-icon" do %>
          <div class="w-10 aspect-square text-gray-200">
            <%# render "shared/icons/handshake_icon" %>
            <%= render "shared/icons/handshake_full_icon" %>
          </div>
          <span class="nav-text">コミュニティ</span>
        <% end %>
      </li>

      <%# マイページアイコン %>
      <li class="flex-1 text-black md:text-white">
        <%= link_to "#", class: "nav-icon" do %>
          <div class="w-10 aspect-square text-gray-200">
            <%# render "shared/icons/account_circle_icon" %>
            <%= render "shared/icons/account_circle_full_icon" %>
          </div>
          <span class="nav-text">マイページ</span>
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>