<nav class="fixed bottom-0 left-0 right-0 h-[60px] bg-white md:relative md:bg-transparent md:w-[320px] md:mr-2">
  <ul class="flex">
    <%# まちレポアイコン %>
    <li class="flex-1 text-black md:text-white">
      <%= link_to machi_repos_path, class: "nav-icon" do %>
          <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="currentColor">
            <% if current_page?(machi_repos_path) %>
              <path d="M697-623h60v-60h-60v60Zm0 171h60v-60h-60v60Zm0 170h60v-60h-60v60ZM40-120v-390l271-194 270 194v390H391v-221H231v221H40Zm601 0v-425L405-710v-130h515v720H641Z"/>
            <% else %>
              <path d="M697-623h60v-60h-60v60Zm0 171h60v-60h-60v60Zm0 170h60v-60h-60v60Zm-56 162v-60h219v-600H465v112l-60-42v-130h515v720H641Zm-601 0v-390l271-194 270 194v390H364v-201H258v201H40Zm60-60h98v-201h226v201h97v-299L311-630 100-478.58V-180Zm541-365ZM424-180v-201H198v201-201h226v201Z"/>
            <% end %>
          </svg>
        <span class="nav-text">まちレポ</span>
      <% end %>
    </li>

    <%# まちレポ作成アイコン %>
    <li class="flex-1 text-black md:text-white">
      <%= link_to new_machi_repo_path, class: "nav-icon" do %>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="currentColor">
          <% if current_page?(new_machi_repo_path) %>
            <path d="M697-623h60v-60h-60v60Zm35.5 583Q655-40 600-95.5T545-227q0-78.43 54.99-133.72Q654.98-416 733-416q77 0 132.5 55.28Q921-305.43 921-227q0 76-55.5 131.5T732.5-40ZM718-100h33v-110h110v-33H751v-110h-33v110H608v33h110v110Zm202-289q-35-42-84.09-64.5Q786.81-476 733-476q-24 0-47 4.5T641-458v-87L405-710v-130h515v451ZM40-120v-390l271-194 270 194v87q-45 35-70.5 86.5T485-227q0 27.63 6.5 54.82Q498-145 510-120H391v-221H231v221H40Z"/>
          <% else %>
            <path d="M198-180v-201h226v201-201H198v201Zm443-365ZM40-120v-390l271-194 272 196q-9.09 11.54-18.5 23.5T546-461L311-630 100-478.58V-180h98v-201h226v261h-60v-201H258v201H40Zm880-720v451q-12.82-15.32-27.91-27.66T860-440v-340H465v112l-60-42v-130h515ZM697-623h60v-60h-60v60Zm35.5 583Q655-40 600-95.5T545-227q0-78.43 54.99-133.72Q654.98-416 733-416q77 0 132.5 55.28Q921-305.43 921-227q0 76-55.5 131.5T732.5-40ZM718-100h33v-110h110v-33H751v-110h-33v110H608v33h110v110Z"/>
          <% end %>
        </svg>
        <span class="nav-text">作成</span>
      <% end %>
    </li>

    <%# TOPアイコン(モバイルのみ) %>
    <li class="flex-1 text-black md:text-white md:hidden">
      <%= link_to "#", class: "nav-icon" do %>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#000000">
          <path d="M480-554 283-357l-43-43 240-240 240 240-43 43-197-197Z"/>
        </svg>
        <span class="nav-text">TOP</span>
      <% end %>
    </li>

    <%# コミュニティアイコン %>
    <li class="flex-1 text-black md:text-white">
      <%= link_to "#", class: "nav-icon" do %>
        <%# モバイル %>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="currentColor">
          <path d="M475-140q5 0 11.5-2.5T497-149l337-338q13-13 19.5-29.67Q860-533.33 860-550q0-17-6.5-34T834-614L654-794q-13-13-30-19.5t-34-6.5q-16.67 0-33.33 6.5Q540-807 527-794l-18 18 81 82q13 14 23 32.5t10 40.5q0 38-29.5 67T526-525q-25 0-41.5-7.5t-30.19-21.34L381-627 200-446q-5 5-7 10.53-2 5.52-2 11.84 0 12.63 8.5 21.13 8.5 8.5 21.17 8.5 6.33 0 11.83-3t9.5-7l138-138 42 42-137 137q-5 5-7 11t-2 12q0 12 9 21t21 9q6 0 11.5-2.5t9.5-6.5l138-138 42 42-137 137q-4 4-6.5 10.33-2.5 6.34-2.5 12.67 0 12 9 21t21 9q6 0 11-2t10-7l138-138 42 42-138 138q-5 5-7 11t-2 11q0 14 8 22t22 8Zm.06 60Q442-80 416-104.5t-31-60.62Q351-170 328-193t-28-57q-34-5-56.5-28.5T216-335q-37-5-61-30t-24-60q0-17 6.72-34.05Q144.45-476.1 157-489l224-224 110 110q8 8 17.33 12.5 9.34 4.5 18.67 4.5 13 0 24.5-11.5t11.5-24.65q0-5.85-3.5-13.35T548-651L405-794q-13-13-30-19.5t-34-6.5q-16.67 0-33.33 6.5-16.67 6.5-29.61 19.36L126-642q-14 14-19.5 29.5t-6.5 35q-1 19.5 7.5 38T128-506l-43 43q-20-22-32.5-53T40-579q0-30 11.5-57.5T84-685l151-151q22-22 49.79-32.5 27.8-10.5 57-10.5 29.21 0 56.71 10.5T448-836l18 18 18-18q22-22 49.79-32.5 27.8-10.5 57-10.5 29.21 0 56.71 10.5T697-836l179 179q22 22 33 50.03 11 28.04 11 57 0 28.97-11 56.47T876-444L539-107q-13 13-29.53 20t-34.41 7ZM377-626Z"/>
        </svg>
        <span class="nav-text">コミュニティ</span>
      <% end %>
    </li>

    <%# マイページアイコン %>
    <li class="flex-1 text-black md:text-white">
      <%= link_to "#", class: "nav-icon" do %>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="currentColor">
          <path d="M222-255q63-44 125-67.5T480-346q71 0 133.5 23.5T739-255q44-54 62.5-109T820-480q0-145-97.5-242.5T480-820q-145 0-242.5 97.5T140-480q0 61 19 116t63 109Zm257.81-195q-57.81 0-97.31-39.69-39.5-39.68-39.5-97.5 0-57.81 39.69-97.31 39.68-39.5 97.5-39.5 57.81 0 97.31 39.69 39.5 39.68 39.5 97.5 0 57.81-39.69 97.31-39.68 39.5-97.5 39.5Zm.66 370Q398-80 325-111.5t-127.5-86q-54.5-54.5-86-127.27Q80-397.53 80-480.27 80-563 111.5-635.5q31.5-72.5 86-127t127.27-86q72.76-31.5 155.5-31.5 82.73 0 155.23 31.5 72.5 31.5 127 86t86 127.03q31.5 72.53 31.5 155T848.5-325q-31.5 73-86 127.5t-127.03 86Q562.94-80 480.47-80Zm-.47-60q55 0 107.5-16T691-212q-51-36-104-55t-107-19q-54 0-107 19t-104 55q51 40 103.5 56T480-140Zm0-370q34 0 55.5-21.5T557-587q0-34-21.5-55.5T480-664q-34 0-55.5 21.5T403-587q0 34 21.5 55.5T480-510Zm0-77Zm0 374Z"/>
        </svg>
        <span class="nav-text">マイページ</span>
      <% end %>
    </li>
  </ul>
</nav>