<!-- ユーザーカード -->
<div id="user-card-<%= user.id %>" class="shadow rounded-xl py-2 w-full max-w-78 bg-white">
  <div class="flex items-center ml-2">
    <!-- ユーザーアイコン -->
    <div class="flex-shrink-0 w-12 aspect-square">
      <% if user.profile.avatar? %>
        <%= image_tag( user.profile.avatar.medium.url, class: "rounded-full object-cover") %>
      <% else %>
        <div class="w-12 aspect-square">
          <%= render "shared/icons/face_icon" %>
        </div>
      <% end %>
    </div>
    <div class="ml-2">
      <!-- ユーザー名 -->
      <div class="mb-1">
        <% if current_user == user %>
          <span class="text-xl"><%= user.profile.nickname %></span>
        <% else %>
          <%= link_to user.profile.nickname, profile_path(user.profile), class: "text-xl underline" %>
        <% end %>
      </div>
      <!-- マイタウン -->
      <div class="flex items-align">
        <div class="w-5 aspect-square text-red-500">
          <%= render "shared/icons/flag_full_icon" %>
        </div>
        <%= user.mytown_address %>
      </div>
    </div>
    <% if mode == "following" %>
      <!-- フォローアイコン -->
      <div class="flex-shrink-0 ml-auto">
        <%= render "users/follows/follow_buttons", user: user %>
      </div>
    <% end %>
  </div>
  <%= buttons&.html_safe %>
</div>