<% content_for :title, "ユーザー詳細" %>

<div class="border-b-2 border-gray-400 text-center">
  <div class="mx-auto max-w-[500px]">
    <div class="flex justify-end pt-4 pr-2">
      <span>
        <%= render "users/follows/follow_buttons", user: user %>
      </span>
    </div>
    <h2 class="mb-6">
      <span class="header1 pt-0"><%= user.profile.nickname %></span>
      <p>
        ユーザーのプロフィールを確認できます
      </p>
    </h2>
  </div>

  <nav class="md:fixed md:top-[250px] md:left-[50px]">
    <ul class="flex justify-around mb-4 mx-auto max-w-[500px] md:flex-col md:h-100">
      <% if controller_name == "profiles" && action_name == "show"
        current_page = "profile"
      elsif controller_name == "machi_repos" && action_name == "my_machi_repos"
        current_page = "my_machi_repos"
      else
        current_page = ""
      end %>
      <!-- プロフィール -->
      <li>
        <%= link_to profile_path(user.profile), class: "icon-circle-wrapper #{"icon-circle-wrapper-current" if current_page == "profile"}", id: "profile-link" do %>
          <div class="icon-circle <%= "icon-circle-current" if current_page == "profile" %>">
            <div class="w-8 aspect-square">
              <%= render "shared/icons/person_icon" %>
            </div>
          </div>
          <span class="icon-circle-text text-[13px]">プロフィール</span>
        <% end %>
      </li>
      <!-- マイまちレポ -->
      <li>
        <%= link_to my_machi_repos_machi_repos_path(user_id: user.id), class: "icon-circle-wrapper #{"icon-circle-wrapper-current" if current_page == "my_machi_repos"}", id: "my-machi-repo-link" do %>
          <div class="icon-circle <%= "icon-circle-current" if current_page == "my_machi_repos" %>">
            <div class="w-8 aspect-square">
              <%= render "shared/icons/home_work_icon" %>
            </div>
          </div>
          <span class="icon-circle-text text-[13px]">マイまちレポ</span>
        <% end %>
      </li>
      <!-- コミュニティ -->
      <li>
        <%= link_to "#", class: "icon-circle-wrapper #{"icon-circle-wrapper-current" if current_page == "community"}", id: "community-link" do %>
          <div class="icon-circle <%= "icon-circle-current" if current_page == "community" %>">
            <div class="w-8 aspect-square">
              <%= render "shared/icons/handshake_icon" %>
            </div>
          </div>
          <span class="icon-circle-text text-[13px]">コミュニティ</span>
        <% end %>
      </li>
    </ul>
  </nav>
</div>