<div class="info-level flex items-start gap-2 mb-4">
  <%= form.radio_button :info_level, value, class: "flex-shrink-0 mt-2 w-5 aspect-square" %>
  <%= form.label :"info_level_#{value}", class: "w-full text-[#{color}]" do %>
    <div class="rounded-lg bg-white">
      <h4 class="flex items-center gap-1 border-b border-gray-400 p-2">
        <span class="flex-shrink-0 w-7 aspect-square">
          <%= render "shared/icons/#{icon}" %>
        </span>
        <span class="text-xl font-medium"><%= title %></span>
      </h4>
      <div class="p-2">
        <ul class="ml-6 list-disc">
          <% examples.each do |example| %>
            <li><%= example %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
