<%= form_with(model: machi_repo, class: "form") do |form| %>
  <% if machi_repo.errors.any? %>
    <div class="text-red-500">
      <h2><%= pluralize(machi_repo.errors.count, "エラー") %>が発生しました:</h2>
      <ul>
        <% machi_repo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div
    data-controller="machi-repo-create"
    data-machi-repo-create-api-key-value="<%= ENV["GOOGLE_MAPS_API_KEY_CLIENT"] %>"
    data-machi-repo-create-map-id-value="<%= ENV["GOOGLE_MAPS_MAP_ID"] %>"
    data-machi-repo-create-latitude-value="<%= machi_repo.latitude %>"
    data-machi-repo-create-longitude-value="<%= machi_repo.longitude %>"
    data-machi-repo-create-address-value="<%= @address %>"
  >
    <!-- タイトル -->
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, class: "text-field", maxlength: 30 %>
    </div>

    <!-- 情報レベル -->
    <div class="field">
      <%= form.label :info_level %>
      <%= form.select :info_level, MachiRepo.info_levels_i18n.map { |key, text| [text, key] }, {}, class: "text-field" %>
    </div>

    <!-- カテゴリ -->
    <div class="field">
      <%= form.label :category %>
      <%= form.select :category, MachiRepo.categories_i18n.map { |key, text| [text, key] }, {}, class: "text-field" %>
    </div>

    <div class="field">
      <%= form.label :tag_names, "タグ（カンマ区切り 最10文字 3つまで）" %>
      <%# form.text_field :tag_names, class: "text-field", placeholder: "例: 子ども, 犬, 注意" %>
      <div class="flex mb-4">
        <%= tag.input type: "text", placeholder: "タグを作成します", maxlength: 40, data: { machi_repo_create_target: "inputTagName" }, class: "map-search-field flex-1" %>
          <%= button_tag type: "button", data: { action: "click->machi-repo-create#appendTag" }, class: "flex justify-center items-center rounded-tr-sm rounded-br-sm w-10 aspect-square bg-[#3586FF]" do %>
            <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#FFFFFF">
              <path d="m239-160 40-159H120l15-60h159l51-202H186l15-60h159l39-159h59l-39 159h203l39-159h59l-39 159h159l-15 60H666l-51 202h159l-15 60H600l-40 159h-59l40-159H338l-40 159h-59Zm114-219h203l51-202H404l-51 202Z"/>
            </svg>
          <% end %>
      </div>
      <%= form.hidden_field :tag_names, data: { machi_repo_create_target: "tagNames" } %>
      <div data-machi-repo-create-target="tags" class="flex flex-wrap gap-2">
        <div data-action="click->machi-repo-create#deleteTag"  data-tag-name="" class="tag default-tag">
          <span class="tag-text"></span>
          <span class="tag-delete">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#FF0000" class="tag-delete">
              <path d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/>
            </svg>
          </span>
        </div>
      </div>
    </div>

    <!-- 状況説明 -->
    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, rows: 6, class: "textarea-field", maxlength: 500 %>
    </div>

    <!-- Google Map関連 -->
    <!-- ホットスポット設定 -->
    <div class="field">
      <%= form.label :hotspot_settings %>
      <%= form.select :hotspot_settings, MachiRepo.hotspot_settings_i18n.map { |key, text| [text, key] }, {}, class: "text-field",
      data: {
        action: "change->machi-repo-create#changeHotspotSettings"
      }%>
    </div>

    <!-- 半径（エリア指定時） -->
    <div
      data-machi-repo-create-target="hotspotAreaRadius"
      class="field"
    >
      <%= form.label :hotspot_area_radius %>
      <%= form.select :hotspot_area_radius, options_for_select([
        ["50m",     50],
        ["100m",   100],
        ["200m",   200],
        ["500m",   500],
        ["1km",   1000],
        ["5km",   5000],
        ["10km", 10000],
      ]), {}, class: "text-field",
      data: {
        action: "change->machi-repo-create#changeHotspotAreaRadius",
        machi_repo_create_target: "hotspotAreaRadiusSelect"
      } %>
    </div>

    <!-- 注意書き（ピンポイント指定時） -->
    <div
      data-machi-repo-create-target="hotspotAttention"
      class="field hidden"
    >
      <p class="text-red-500">
        注意：家や職場など、特定されると困る<br>
        　　　場所は指定しないでください
      </p>
    </div>

    <div class="flex justify-center gap-12 mb-4">
      <!-- マイタウンアイコン -->
      <div data-action="click->machi-repo-create#mytownShow" class="icon-circle-wrapper">
        <div class="icon-circle">
          <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#000000">
            <path d="M370-440h60v-120h100v120h60v-185l-110-73-110 73v185Zm110 281q133-121 196.5-219.5T740-552q0-118-75.5-193T480-820q-109 0-184.5 75T220-552q0 75 65 173.5T480-159Zm0 79Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"/>
          </svg>
        </div>
        <span class="icon-circle-text">マイタウン</span>
      </div>

      <!-- 現在地アイコン -->
      <div data-action="click->machi-repo-create#currentLocationShow" class="icon-circle-wrapper">
        <div class="icon-circle">
          <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#000000">
            <path d="M450-42v-75q-137-14-228-105T117-450H42v-60h75q14-137 105-228t228-105v-75h60v75q137 14 228 105t105 228h75v60h-75q-14 137-105 228T510-117v75h-60Zm30-134q125 0 214.5-89.5T784-480q0-125-89.5-214.5T480-784q-125 0-214.5 89.5T176-480q0 125 89.5 214.5T480-176Zm0-154q-63 0-106.5-43.5T330-480q0-63 43.5-106.5T480-630q63 0 106.5 43.5T630-480q0 63-43.5 106.5T480-330Zm0-60q38 0 64-26t26-64q0-38-26-64t-64-26q-38 0-64 26t-26 64q0 38 26 64t64 26Zm0-90Z"/>
          </svg>
        </div>
        <span class="icon-circle-text">現在地</span>
      </div>
    </div>

    <div class="flex mb-4">
      <%= tag.input type: "text", placeholder: "\"まち\"を入力してください", data: { machi_repo_create_target: "search" }, class: "map-search-field flex-1" %>
      <%= button_tag type: "button", data: { action: "click->machi-repo-create#searchLocationShow" }, class: "flex justify-center items-center rounded-tr-sm rounded-br-sm w-10 aspect-square bg-[#3586FF]" do %>
        <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#FFFFFF">
          <path d="M638-511v-1.5 1.5-189 189ZM170-142q-17 9-33.5-1T120-173v-558q0-13 7.5-23t19.5-15l202-71 263 92 178-71q17-8 33.5 1.5T840-788v388q-11-21-26-38.5T780-470v-284l-142 54v189q-16 2-31 5t-29 8v-202l-196-66v540l-212 84Zm10-65 142-54v-505l-142 47v512Zm474-5q38 0 64-26t26-64q0-38-26-64t-64-26q-38 0-64 26t-26 64q0 38 26 64t64 26Zm0 60q-62 0-106-44t-44-106q0-63 44-106.5T654-452q63 0 106.5 43.5T804-302q0 23-6.5 44T779-219l101 101-38 38-101-100q-19 14-40.5 21t-46.5 7ZM322-766v505-505Z"/>
        </svg>
      <% end %>
    </div>

    <!-- 住所 -->
    <div class="mb-1">
      <p>
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EA3323" class="inline-block">
          <path d="M200-120v-680h343l19 86h238v370H544l-19-85H260v309h-60Z"/>
        </svg>
        <span data-machi-repo-create-target="address" class="text-xl font-bold"><%= @address %></span>
      </p>
    </div>

    <!-- Google Map -->
    <div id="map" data-machi-repo-create-target="map" class="field w-full aspect-square"></div>

    <!-- 緯度 -->
    <%= form.hidden_field :latitude, data: { machi_repo_create_target: "latitude" } %>

    <!-- 経度 -->
    <%= form.hidden_field :longitude, data: { machi_repo_create_target: "longitude" } %>

    <!-- 画像 -->
    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image, class: "file-field" %>
      <% if machi_repo.image? %>
        <p class="mt-2">現在の画像:</p>
        <%= image_tag(machi_repo.image.url, class: "w-32") %>
      <% end %>
      <%= form.hidden_field :image_cache %>
    </div>

    <!-- 送信 -->
    <div class="actions text-center">
      <%= form.submit nil, class: "button" %>
    </div>
  </div>
<% end %>
