<%= form_with(model: machi_repo, class: "form relative") do |form| %>
  <!-- タイトル -->
  <div class="field">
    <%= form.label :title, class: "require" %>
    <%= form.text_field :title, placeholder: "例: 不審者を見かけました", class: "text-field", maxlength: 30 %>
  </div>

  <!-- 情報レベル -->
  <div class="field">
    <%= form.label :info_level, class: "require" %>
    <%= form.select :info_level, MachiRepo.info_levels_i18n.map { |key, text| [text, key] }, {}, class: "text-field" %>
  </div>

  <!-- カテゴリ -->
  <div class="field">
    <%= form.label :category, class: "require" %>
    <%= form.select :category, MachiRepo.categories_i18n.map { |key, text| [text, key] }, {}, class: "text-field" %>
  </div>

  <!-- タグ関連 -->
  <div data-controller="tag" class="field">
    <%= form.label :tag_input, "タグ（最大15文字 3つまで）" %>
    <div class="flex">
      <%= form.text_field :tag_input, placeholder: "例: 子ども, 通学路, 朝", maxlength: 50, data: { tag_target: "inputTagName", action: "blur->tag#appendTag"  }, class: "text-field flex-1" %>
      <%= button_tag type: "button", data: { action: "click->tag#appendTag" }, class: "flex justify-center items-center rounded-tr-sm rounded-br-sm w-10 aspect-square bg-[#3586FF]" do %>
        <span class="w-8 aspect-square">
          <%= render "shared/icons/tag_icon" %>
        </span>
      <% end %>
    </div>
    <%= form.hidden_field :tag_names, data: { tag_target: "tagNames" } %>
    <div data-action="click->tag#deleteTag" data-tag-name="" class="tag default-tag">
      <span class="tag-text"></span>
      <span class="w-5 aspect-square text-red-500">
        <%= render "shared/icons/close_icon" %>
      </span>
    </div>
    <div data-tag-target="tags" class="flex flex-wrap gap-2 mt-2"></div>
  </div>

  <!-- 状況説明 -->
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 6, class: "textarea-field", maxlength: 500 %>
  </div>

  <!-- Google Map関連 -->
  <div
    data-controller="machi-repos--form"
    data-machi-repos--form-machi-repo-value="<%= machi_repo.to_json %>"
    data-machi-repos--form-mytown-latitude-value="<%= @mytown_latitude %>"
    data-machi-repos--form-mytown-longitude-value="<%= @mytown_longitude %>"
    data-action="google-maps:google-maps-connected->machi-repos--form#initMap"
  >
    <!-- ホットスポット設定 -->
    <div class="field">
      <%= form.label :hotspot_settings, class: "require" %>
      <%= form.select :hotspot_settings, MachiRepo.hotspot_settings_i18n.map { |key, text| [text, key] }, {}, class: "text-field",
      data: {
        action: "change->machi-repos--form#changeHotspotSettings"
      }%>
    </div>

    <!-- 半径（エリア指定時） -->
    <div
      data-machi-repos--form-target="hotspotAreaRadius"
      class="field hidden"
    >
      <%= form.label :hotspot_area_radius, class: "require" %>
      <%= form.select :hotspot_area_radius, options_for_select([
        ["50m",     50],
        ["100m",   100],
        ["200m",   200],
        ["500m",   500],
        ["1km",   1000],
        ["5km",   5000],
        ["10km", 10000]
      ], form.object.hotspot_area_radius.to_i), {}, class: "text-field",
      data: {
        action: "change->machi-repos--form#changeHotspotAreaRadius",
        machi_repos__form_target: "hotspotAreaRadiusSelect"
      } %>
    </div>

    <!-- 注意書き（ピンポイント指定時） -->
    <div
      data-machi-repos--form-target="hotspotAttention"
      class="field hidden"
    >
      <p class="text-red-500">
        注意：家や職場など、特定されると困る<br>
        　　　場所は指定しないでください
      </p>
    </div>

    <div class="field flex justify-center gap-12 mb-4">
      <!-- マイタウンアイコン -->
      <div data-action="click->machi-repos--form#showMytown" class="icon-circle-wrapper">
        <div class="icon-circle">
          <div class="w-10 aspect-square">
            <%= render "shared/icons/home_pin_icon" %>
          </div>
        </div>
        <span class="icon-circle-text">マイタウン</span>
      </div>

      <!-- 現在地アイコン -->
      <div data-action="click->machi-repos--form#showCurrentLocation" class="icon-circle-wrapper">
        <div class="icon-circle">
          <div class="w-10 aspect-square">
            <%= render "shared/icons/my_location_icon" %>
          </div>
        </div>
        <span class="icon-circle-text">現在地</span>
      </div>
    </div>

    <!-- 住所検索 -->
    <div class="field flex mb-4">
      <%= tag.input type: "text", placeholder: "\"まち\"を入力してください", data: { machi_repos__form_target: "search" }, class: "map-search-field flex-1" %>
      <%= button_tag type: "button", data: { action: "click->machi-repos--form#showSearchLocation" }, class: "flex justify-center items-center rounded-tr-sm rounded-br-sm w-10 aspect-square bg-[#3586FF]" do %>
      <span class="w-8 aspect-square">
        <%= render "shared/icons/map_search_icon" %>
      </span>
      <% end %>
    </div>

    <!-- 住所 -->
    <div class="my-4 text-center">
      <div class="inline-block px-2 border-b-2 border-[#DF3737] text-2xl">
        <div class="flex items-center">
          <div class="inline-block w-6 aspect-square text-[#DF3737]">
            <%= render "shared/icons/flag_full_icon" %>
          </div>
          <span data-machi-repos--form-target="displayAddress" class="text-xl font-bold">
            <%= machi_repo.address %>
          </span>
          <%= form.hidden_field :address, data: { machi_repos__form_target: "address" } %>
        </div>
      </div>
    </div>

    <!-- Google Map -->
    <div id="map"
      data-controller="google-maps"
      data-google-maps-target="map"
      data-google-maps-api-key-value="<%= ENV["GOOGLE_MAPS_API_KEY_CLIENT"] %>"
      data-google-maps-map-id-value="<%= ENV["GOOGLE_MAPS_MAP_ID"] %>"
      data-google-maps-latitude-value="<%= machi_repo.latitude %>"
      data-google-maps-longitude-value="<%= machi_repo.longitude %>"
      class="mb-4 w-full aspect-square"
    ></div>

    <!-- 緯度 -->
    <%= form.hidden_field :latitude, data: { machi_repos__form_target: "latitude" } %>

    <!-- 経度 -->
    <%= form.hidden_field :longitude, data: { machi_repos__form_target: "longitude" } %>
  </div>

  <!-- 画像 -->
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, class: "file-field" %>
    <% if machi_repo.image? %>
      <p class="mt-2">現在の画像:</p>
      <%= image_tag(machi_repo.image.url, class: "w-32") %>
    <% end %>
    <%= form.hidden_field :image_cache %>
  </div>

  <!-- 送信 -->
  <div class="actions mt-8 text-center">
    <% submit_class_name = "button" %>
    <% if @machi_repo.persisted? %>
      <% submit_class_name += " button-edit" %>
    <% end %>
    <%= form.submit nil, class: submit_class_name %>
  </div>

  <!-- ヘルプ -->
  <%= render "shared/help_item", title: "まちレポの作成方法", content: render("shared/helps/how_to_make_machi_repo/content") %>
<% end %>
