<div
    data-controller="machi-repos--index"
    data-machi-repos--index-machi-repos-value="<%= near_hotspots.to_json(include: { user: { include: :profile } }) %>"
    data-action="google-maps:google-maps-connected->machi-repos--index#initMap"
    id="map-wrapper"
    class="mx-auto mb-8 w-full max-w-[500px] md:max-w-175 xl:max-w-300"
>
  <div class="relative flex justify-center gap-12 mb-4">
    <!-- マイタウンアイコン -->
    <div data-action="click->machi-repos--index#onClickMytownIcon" class="icon-circle-wrapper">
      <div class="icon-circle">
        <div class="w-10 aspect-square">
          <%= render "shared/icons/home_pin_icon" %>
        </div>
      </div>
      <span class="icon-circle-text">マイタウン</span>
    </div>

    <!-- 現在地アイコン -->
    <div data-action="click->machi-repos--index#onClickCurrentLocationIcon" class="icon-circle-wrapper">
      <div class="icon-circle">
        <div class="w-10 aspect-square">
          <%= render "shared/icons/my_location_icon" %>
        </div>
      </div>
      <span class="icon-circle-text">現在地</span>
    </div>
    <!-- ヘルプ -->
    <%= render "shared/help_item", title: "まちレポの閲覧方法", content: render("shared/helps/how_to_view_machi_repos/content") %>
  </div>

  <!-- 住所検索 -->
  <div class="field flex mb-4">
    <%= tag.input type: "text", placeholder: "\"まち\"を入力してください", data: { machi_repos__index_target: "search" }, class: "map-search-field flex-1" %>
    <%= button_tag type: "button", data: { action: "click->machi-repos--index#onClickSearchLocationButtton" }, class: "flex justify-center items-center rounded-tr-sm rounded-br-sm bg-[#3586FF]" do %>
      <span class="w-10 aspect-square">
        <%= render "shared/icons/map_search_icon" %>
      </span>
    <% end %>
  </div>

  <!-- 住所 -->
  <div class="mb-4">
    <div class="inline-block px-2 border-b-2 border-[#DF3737] text-2xl">
      <div class="flex items-center">
        <div class="inline-block w-6 aspect-square text-[#DF3737]">
          <%= render "shared/icons/flag_full_icon" %>
        </div>
        <span data-machi-repos--index-target="address" class="text-xl font-bold" id="display-address">
          <%= address %>
        </span>
      </div>
    </div>
  </div>

  <!-- 検索 -->
  <%= render "index_search_form", search_form: @search_form %>

  <!-- データ取得時間 -->
  <div class="mb-4 mr-2 xl:mr-12">
    <%= button_tag type: "button",
      data: { controller: "reload", action: "click->reload#reload" },
      id: "target-element",
      class: "link underline flex items-center ml-auto" do
    %>
      <span class="w-6 aspect-square">
        <%= render "shared/icons/refresh_icon" %>
      </span>
      <%= @snapshot_time.strftime("%Y/%m/%d %H:%M:%S") %> 取得
    <% end %>
  </div>

  <div class="xl:flex xl:justify-around">
    <section class="text-left xl:w-100">
      <div class="relative">
        <h3 class="header2 mb-4 ">
          周辺のホットスポット（<%= near_hotspots.length %>件）
        </h3>
        <!-- ヘルプ -->
        <%= render "shared/help_item", title: "周辺のホットスポット", content: render("shared/helps/nearby_hotspots/content") %>
      </div>
      <!-- Google Map -->
      <div id="map"
        data-controller="google-maps"
        data-google-maps-target="map"
        data-google-maps-api-key-value="<%= ENV["GOOGLE_MAPS_API_KEY_CLIENT"] %>"
        data-google-maps-map-id-value="<%= ENV["GOOGLE_MAPS_MAP_ID"] %>"
        data-google-maps-address-value="<%= address %>"
        data-google-maps-latitude-value="<%= latitude %>"
        data-google-maps-longitude-value="<%= longitude %>"
        class="mb-4 mx-auto w-full max-w-[400px] aspect-square">
      </div>
    </section>

    <section class="text-left xl:w-175">
      <div class="relative">
        <h3 class="header2 mb-4 ">
          "まち"のまちレポ一覧（<span id="machi-repos-count"><%= machi_repos_count %></span>件）
        </h3>
        <!-- ヘルプ -->
        <%= render "shared/help_item", title: "\"まち\"のまちレポ一覧", content: render("shared/helps/towns_machi_repos/content") %>
      </div>
      <!-- まちレポカード表示(無限スクロール) -->
      <div
        id="machi-repos-last-page-marker"
        data-last-page="<%= is_last_page %>"
        class="hidden"
      ></div>
      <%# 取得データの最後の更新日時とまちレポIDを保持 %>
      <div
        id="machi-repos-previous-last-data"
        data-previous-last-updated="<%= machi_repos.last&.updated_at&.to_i %>"
        data-previous-last-id="<%= machi_repos.last&.id %>"
        class="hidden"
      ></div>
      <div id="machi_repos" data-machi-repos--index-target="machiRepoCards" class="machi-repo-cards relative">
        <%# スクロール可能表示 %>
        <div
          data-machi-repos--index-target="scrollableIcon"
          class="hidden absolute bottom-[8px] left-1/2 -translate-x-1/2 z-1"
        >
          <div class="bounce w-8 aspect-square border rounded-full bg-white rotate-180">
            <%= render "shared/icons/arrow_upward_icon" %>
          </div>
        </div>
        <% machi_repos.each do |machi_repo| %>
          <%= render "shared/machi_repo_card", machi_repo: machi_repo %>
        <% end %>
      </div>
    </section>
  </div>

  <%# CustomInfoWindowのコピー元 %>
  <div data-machi-repos--index-target="infoWindowWrapper" class="hidden">
    <%= render "shared/info_window" %>
  </div>
</div>

