<%# 一覧に追加 %>
<%= turbo_stream.append "my-machi-repos" do %>
  <% @machi_repos.each do |machi_repo| %>
    <%= render "shared/machi_repo_card", machi_repo: machi_repo %>
  <% end %>
<% end %>

<%# 最終ページ判定更新 %>
<%= turbo_stream.replace "last-page-marker" do %>
  <input type="hidden"
      id="last-page-marker"
      value="<%= @is_last_page %>"
      data-infinite-scroll-target="lastPageMarker"
    >
<% end %>

<%# 最終データの更新日時更新 %>
<%= turbo_stream.replace "previous-last-updated" do %>
  <input type="hidden"
      id="previous-last-updated"
      value="<%= @machi_repos.last&.updated_at&.to_i %>"
      data-infinite-scroll-target="previousLastUpdated"
    >
<% end %>

<%# 最終データのID更新 %>
<%= turbo_stream.replace "previous-last-id" do %>
  <input type="hidden"
      id="previous-last-id"
      value="<%= @machi_repos.last&.id %>"
      data-infinite-scroll-target="previousLastId"
    >
<% end %>

<%# 総数表示更新 %>
<%= turbo_stream.replace "machi-repos-count" do %>
  <span id="machi-repos-count"><%= @machi_repos_count %></span>
<% end %>
