<%= render "machi_repos/machi_repo_info", machi_repo: @machi_repo %>

<section class="mx-auto pt-4 pb-8 max-w-120 xl:max-w-205">
  <%# 編集・削除 %>
  <% if @machi_repo.user == current_user %>
    <div class="flex justify-end gap-2 mb-4 pr-2 w-full">
      <%# 編集 %>
      <%= link_to edit_machi_repo_path(@machi_repo), class: "inline-block border-2 rounded px-2 bg-green-100 text-green-700 shadow", id: "machi-repo-edit" do %>
        <div class="flex flex-col justify-center items-center">
          <div class="w-8 aspect-square">
            <%= render "shared/icons/edit_note_icon" %>
          </div>
          <span class="text-sm">編集</span>
        </div>
      <% end %>
      <%# 削除 %>
      <%= button_to machi_repo_path(@machi_repo), method: :delete, data: { controller: "modal", action: "click->modal#confirm", modal_text_value: "まちレポを削除しますか？" }, class: "inline-block border-2 rounded px-2 bg-red-100 text-red-700 shadow", id: "machi-repo-delete" do %>
        <span class="flex flex-col justify-center items-center">
          <span class="w-8 aspect-square">
            <%= render "shared/icons/delete_icon" %>
          </span>
          <span class="text-sm">削除</span>
        </span>
      <% end %>
    </div>
  <% end %>
  <div class="xl:flex xl:justify-between xl:mx-auto">
    <div class="xl:w-100">
      <!-- 閲覧数表示 -->
      <div class="flex items-center justify-end gap-2">
        <div class="w-6 aspect-square">
          <%= render "shared/icons/visibility_full_icon" %>
        </div>
        <div class="mr-2">
          <%= number_with_delimiter(@machi_repo.views_count) %>
        </div>
      </div>
      <!-- 投稿者 -->
      <div class="mb-4 px-2">
        <h3 class="mb-2">
          <span class="header2 <%= "border-color-#{@machi_repo.info_level}" %>">投稿者</span>
        </h3>
        <div class="flex items-center ml-4">
          <div class="w-8 aspect-square">
            <%= render "shared/icons/face_icon" %>
          </div>
          <div class="ml-1 text-xl font-bold">
            <%= @machi_repo.user.profile.nickname %>
          </div>
        </div>
      </div>
      <!-- カテゴリー -->
      <div class="mb-4 px-2">
        <h3 class="mb-2">
          <span class="header2 <%= "border-color-#{@machi_repo.info_level}" %>">カテゴリー</span>
        </h3>
        <div class="flex items-center ml-4">
          <div class="text-2xl">
            <%= display_machi_repo_category_emoji(@machi_repo.category) %>
          </div>
          <div class="ml-1 text-xl font-bold">
            <%= MachiRepo.categories_i18n[@machi_repo.category] %>
          </div>
        </div>
      </div>
      <!-- タグ -->
      <div class="mb-4 px-2">
        <h3 class="mb-2">
          <span class="header2 <%= "border-color-#{@machi_repo.info_level}" %>">タグ</span>
        </h3>
        <div class="flex items-center ml-4">
          <% if @machi_repo.tag_names.present? %>
            <div class="flex flex-wrap gap-2 p-2 pt-1">
              <% @machi_repo.tag_names.split(',').each do |tag| %>
                <div class="tag">
                  <span class="tag-text"><%= "#" + tag %></span>
                </div>
              <% end %>
            </div>
          <% else %>
            <span class="ml-1 text-xl">（タグなし）</span>
          <% end %>
        </div>
      </div>
      <!-- 投稿日時 -->
      <div class="mb-4 px-2">
        <h3 class="mb-2">
          <span class="header2 <%= "border-color-#{@machi_repo.info_level}" %>">投稿日時</span>
        </h3>
        <div class="flex items-center ml-4">
          <div class="w-8 aspect-square">
            <%= render "shared/icons/schedule_icon" %>
          </div>
          <div class="ml-1 text-xl font-bold">
            <%= @machi_repo.updated_at.strftime("%Y/%m/%d %H:%M") %>
          </div>
        </div>
        <% if (@machi_repo.updated_at - @machi_repo.created_at).abs >= 5 %>
          <span class="ml-10">
            （<%= @machi_repo.created_at.strftime("%Y/%m/%d %H:%M") %> 作成）
          </span>
        <% end %>
      </div>
      <!-- 状況説明 -->
      <div class="mb-4 px-2">
        <h3 class="mb-2">
          <span class="header2 <%= "border-color-#{@machi_repo.info_level}" %>">状況説明</span>
        </h3>
        <div class="flex items-center ml-4">
          <div class="ml-1 text-xl leading-normal tracking-wider">
            <% if @machi_repo.description.present? %>
              <%= simple_format(@machi_repo.description) %>
            <% else %>
              <p>（未記入）</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="xl:w-100">
      <!-- ホットスポット -->
      <div class="mb-4 px-2">
        <h3 class="mb-2">
          <span class="header2 <%= "border-color-#{@machi_repo.info_level}" %>">ホットスポット</span>
        </h3>
        <!-- 住所 -->
        <div class="my-4 text-center">
          <div class="inline-block px-2 border-b-2 border-[#DF3737] text-2xl">
            <div class="flex items-center">
              <div class="inline-block w-6 aspect-square text-[#DF3737]">
                <%= render "shared/icons/flag_full_icon" %>
              </div>
              <span class="text-xl font-bold">
                <%= @machi_repo.address %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- Google Map -->
      <div
        data-controller="machi-repos--show"
        data-machi-repos--show-machi-repo-value="<%= @machi_repo.to_json(include: { user: { include: :profile } }) %>"
        data-action="google-maps:google-maps-connected->machi-repos--show#initMap"
        id="map-wrapper"
        class="mx-auto w-full max-w-[500px] md:max-w-175 xl:max-w-300"
      >
        <div id="map"
          data-controller="google-maps"
          data-google-maps-target="map"
          data-google-maps-api-key-value="<%= ENV["GOOGLE_MAPS_API_KEY_CLIENT"] %>"
          data-google-maps-map-id-value="<%= ENV["GOOGLE_MAPS_MAP_ID"] %>"
          data-google-maps-address-value="<%= @machi_repo.address %>"
          data-google-maps-latitude-value="<%= @machi_repo.latitude %>"
          data-google-maps-longitude-value="<%= @machi_repo.longitude %>"
          class="mb-4 mx-auto w-full max-w-[400px] aspect-square">
        </div>
      </div>

      <!-- 画像 -->
      <div class="mb-4 px-2">
        <h3 class="mb-2">
          <span class="header2 <%= "border-color-#{@machi_repo.info_level}" %>">画像</span>
        </h3>
        <div class="ml-4 w-[90%]">
          <% if @machi_repo.image? %>
            <%= image_tag(@machi_repo.image.url, class: "object-cover") %>
          <% else %>
            <span class="ml-1 text-xl">（画像なし）</span>
          <% end %>
        </div>
      </div>
  </div>
  </div>
</section>
