<h2>まちレポ詳細</h2>
<p><%= @machi_repo.title %></p>
<p><%= @machi_repo.info_level %></p>
<p><%= @machi_repo.category %></p>
<p><%= simple_format(@machi_repo.description) %></p>
<p><%= @machi_repo.hotspot_settings %></p>
<p><%= @machi_repo.latitude %></p>
<p><%= @machi_repo.longitude %></p>
<p>タグ</p>
<% if @machi_repo.tag_names.present? %>
  <% @machi_repo.tag_names.split(',').each do |tag| %>
    <p><%= tag %></p>
  <% end %>
<% end %>
<% if @machi_repo.image? %>
  <p class="mt-2">現在の画像:</p>
  <%= image_tag(@machi_repo.image.url, class: "w-32") %>
<% end %>
