<% content_for :title, "ヘルプ" %>
<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div class="text-center">
  <h2 class="mb-6">
    <span class="header1"><%= t('.title') %></span>
    <p>
      "Machi Vigil ～ まちヴィジル ～"<br>
      について説明します
    </p>
  </h2>

  <section
    data-controller="accordion"
    class="mx-auto px-4 max-w-[900px]">
    <!-- アコーディオンアイテム -->
    <!-- Machi Vigilについて -->
    <%= render "shared/helps/about_machi_vigil/item" %>
    <!-- ホットスポット -->
    <%= render "shared/helps/about_hotspot/item" %>
    <!-- まちレポの閲覧方法 -->
    <%= render "shared/helps/how_to_view_machi_repos/item" %>
    <!-- 周辺のホットスポット -->
    <%= render "shared/helps/nearby_hotspots/item" %>
    <!-- "まち"のまちレポ -->
    <%= render "shared/helps/towns_machi_repos/item" %>
    <!-- まちレポの作成方法 -->
    <%= render "shared/helps/how_to_make_machi_repo/item" %>
    <!-- まちレポ詳細 -->
    <%= render "shared/helps/details_machi_repo/item" %>
    <!-- チャット方法 -->
    <%= render "shared/helps/how_to_chat/item" %>
    <!-- コミュニティについて -->
    <%= render "shared/helps/about_community/item" %>
    <!-- コミュニティスカウト -->
    <%= render "shared/helps/how_to_scout/item" %>
    <!-- コミュニティ参加 -->
    <%= render "shared/helps/how_to_approve/item" %>
  </section>
</div>
