<% content_for :title, community.name %>

<div class="border-b-2 border-gray-400 text-center">
  <h2 class="mb-6">
    <span class="header1"><%= community.name %></span>
  </h2>

  <nav class="md:fixed md:top-[250px] md:left-[50px]">
    <% is_belongs_to_community = current_user.approved_in?(community) %>
    <ul class="flex justify-center <%= is_belongs_to_community ? "gap-3" : "gap-12" %> mb-4 mx-auto max-w-[500px] md:flex-col">
      <% if controller_name == "communities" && action_name == "show"
        current_page = "detail"
      elsif controller_name == "communities" && action_name == "scout"
        current_page = "scout"
      elsif controller_name == "machi_repos" && action_name == "bookmarks"
        current_page = "bookmark"
      elsif controller_name == "users" && action_name == "followings"
        current_page = "following"
      else
        current_page = ""
      end %>
      <!-- 詳細 -->
      <li>
        <%= link_to community_path(community), class: "icon-circle-wrapper #{"icon-circle-wrapper-current" if current_page == "detail"}", id: "detail-link" do %>
          <div class="icon-circle <%= "icon-circle-current" if current_page == "detail" %>">
            <div class="w-8 aspect-square">
              <%= render "shared/icons/description_icon" %>
            </div>
          </div>
          <span class="icon-circle-text text-[13px]">詳細</span>
        <% end %>
      </li>
      <% if is_belongs_to_community %>
        <!-- チャット -->
        <li>
          <%= link_to "#", class: "icon-circle-wrapper #{"icon-circle-wrapper-current" if current_page == "chat"}", id: "chat-link" do %>
            <div class="icon-circle <%= "icon-circle-current" if current_page == "chat" %>">
              <div class="w-8 aspect-square">
                <%= render "shared/icons/chat_icon" %>
              </div>
            </div>
            <span class="icon-circle-text text-[13px]">チャット</span>
          <% end %>
        </li>
      <% end %>
      <!-- メンバー -->
      <li>
        <%= link_to "#", class: "icon-circle-wrapper #{"icon-circle-wrapper-current" if current_page == "member"}", id: "member-link" do %>
          <div class="icon-circle <%= "icon-circle-current" if current_page == "member" %>">
            <div class="w-8 aspect-square">
              <%= render "shared/icons/groups_icon" %>
            </div>
          </div>
          <span class="icon-circle-text text-[13px]">メンバー</span>
        <% end %>
      </li>
      <% if is_belongs_to_community %>
        <!-- スカウト -->
        <li>
          <%= link_to scout_communities_path(community_id: community.id), class: "icon-circle-wrapper #{"icon-circle-wrapper-current" if current_page == "scout"}", id: "scout-link" do %>
            <div class="icon-circle <%= "icon-circle-current" if current_page == "scout" %>">
              <div class="w-8 aspect-square">
                <%= render "shared/icons/communication_icon" %>
              </div>
            </div>
            <span class="icon-circle-text text-[13px]">スカウト</span>
          <% end %>
        </li>
        <!-- 退会 -->
        <li>
          <%# 解散 %>
          <%= button_to withdraw_community_path(@community), method: :delete, data: { controller: "modal", action: "click->modal#confirm", modal_text_value: "コミュニティから退会しますか？" }, class: "icon-circle-wrapper", id: "community-withdraw" do %>
            <span class="icon-circle">
              <span class="w-8 aspect-square">
                <%= render "shared/icons/logout_icon" %>
              </span>
            </span>
            <span class="icon-circle-text text-[13px]">退会</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>