<%= form_with url: community_search_communities_path, method: :get, scope: :search, model: model, html: { data: { search_target: "searchForm", turbo_stream: true } } do |form| %>
  <!-- コミュニティ名 -->
  <div class="field md:w-1/2">
    <%= form.label :name, "コミュニティ名" %>
    <%= form.text_field :name, placeholder: "入力してください", class: "text-field", maxlength: 20, data: { search_target: "inputValue" } %>
  </div>

  <!-- 活動拠点 -->
  <div data-controller="prefecture-municipality" class="field">
    <%= label_tag nil, "活動拠点" %>
    <div class="base-selects">
      <%= form.collection_select :prefecture_id, Prefecture.all, :id, :name_kanji, {}, { class: "select-field", data: { search_target: "inputValue", action: "change->prefecture-municipality#loadMunicipalities" }} %>

      <%= form.collection_select :municipality_id, Municipality.where(prefecture_id: form.object.prefecture_id || 1).order(:name_kana), :id, :name_kanji, {}, { class: "select-field", data: { search_target: "inputValue", prefecture_municipality_target: "municipality" }} %>
    </div>
  </div>

  <div class="flex justify-center gap-2 mt-8 text-center">
    <%= button_tag "検索", type: "button", class: "button", data: { action: "click->search#submit" } %>
    <%= link_to "クリア", communities_path(clear: 1), class: "button button-clear flex justify-center items-center" %>
  </div>
<% end %>