<% content_for :title, "スカウト" %>

<%= render "communities/community_info", community: @community %>

<div class="mx-auto pt-4 pb-8 max-w-120 lg:max-w-175 xl:max-w-250">
  <%= button_tag type: "button",
    data: { controller: "reload", action: "click->reload#reload" },
    class: "link underline flex items-center ml-auto" do
  %>
    <span class="w-6 aspect-square">
      <%= render "shared/icons/refresh_icon" %>
    </span>
    <span>最新情報取得</span>
  <% end %>
  <!-- 参加希望 -->
  <section>
    <h3 class="mb-4">
      <span class="header2">参加希望</span>
    </h3>
    <div id="requested-user-cards" class="flex flex-wrap justify-center gap-4">
      <% @memberships_requested.each do |membership| %>
        <%= render "shared/user_card", user: membership.user, option: nil, buttons: render("community_memberships/buttons/requested_buttons", membership: membership) %>
      <% end %>
    </div>
  </section>
  <!-- スカウト中 -->
  <section>
    <h3 class="mb-4">
      <span class="header2">スカウト中</span>
    </h3>
    <div id="inviting-user-cards" class="flex flex-wrap justify-center gap-4">
      <% @memberships_invited.each do |membership| %>
        <%= render "shared/user_card", user: membership.user, option: render("community_memberships/buttons/invite_cancel_button", membership: membership), buttons: nil %>
      <% end %>
    </div>
  </section>
  <!-- スカウトする -->
  <section>
    <h3 class="mb-4">
      <span class="header2">スカウトする</span>
    </h3>
    <!-- ユーザー検索 -->
    <%= render "shared/search_form_format", defaults: @search_form, search_form: render("communities/scout_search_form", model: @search_form, community: @community) %>
    <!-- ユーザー一覧 -->
    <div id="candidate-user-cards" class="flex flex-wrap justify-center gap-4">
      <% @scout_candidates.each do |user| %>
        <%= render "shared/user_card", user: user, option: render("community_memberships/buttons/invite_button", community: @community, user: user), buttons: nil %>
      <% end %>
    </div>
  </section>
</div>