<%= render "communities/community_info", community: @community %>

<section class="mx-auto pt-4 pb-8 max-w-120">
  <div class="flex justify-end gap-2 mb-4 pr-2 w-full">
    <% role = current_user.role_in(@community) %>
    <% status = current_user.status_in(@community) %>
    <% if role == "sub" || role == "leader" %>
      <%# 編集 %>
      <div class="relative flex flex-col justify-center items-center shadow border-2 rounded px-2 bg-green-100 text-green-700 ">
        <%= link_to edit_community_path(@community), class: "absolute inset-0", id: "community-edit" do %><% end %>
        <div class="w-8 aspect-square">
          <%= render "shared/icons/edit_note_icon" %>
        </div>
        <span class="text-sm">編集</span>
      </div>
      <% if role == "leader" %>
        <%# 解散 %>
        <%= button_to community_path(@community), method: :delete, data: { controller: "modal", action: "click->modal#confirm", modal_text_value: "この操作は元に戻せません。本当にコミュニティを解散しますか？" }, class: "inline-block border-2 rounded px-2 bg-red-100 text-red-700 shadow", id: "community-delete" do %>
          <span class="flex flex-col justify-center items-center">
            <span class="w-8 aspect-square">
              <%= render "shared/icons/waving_hand_icon" %>
            </span>
            <span class="text-sm">解散</span>
          </span>
        <% end %>
      <% end %>
    <% end %>
    <%# 参加希望 %>
    <div id="community-membership-button">
      <% if status == "requested" %>
        <%= render "community_memberships/buttons/cancel_button", membership: @membership, previous_status: status %>
      <% elsif status != "approved" %>
        <%= render "community_memberships/buttons/join_button", community: @community %>
      <% end %>
    </div>
  </div>
  <div class="">
    <!-- アイコン -->
    <div class="text-center">
      <% if @community.icon? %>
        <div class="inline-block w-24 aspect-square">
          <%= image_tag(@community.icon.medium.url, class: "rounded-full object-cover") %>
        </div>
      <% end %>
    </div>
    <!-- 活動拠点 -->
    <div class="mb-4 px-2">
      <h3 class="mb-2">
        <span class="header2">活動拠点</span>
      </h3>
      <div class="ml-8 text-xl font-bold">
        <%= @community.base %>
      </div>
    </div>
    <!-- 結成日 -->
    <div class="mb-4 px-2">
      <h3 class="mb-2">
        <span class="header2">結成日</span>
      </h3>
      <div class="ml-8 text-xl font-bold">
        <time><%= @community.created_at.strftime("%Y/%m/%d") %></time>
      </div>
    </div>
    <!-- 更新日時 -->
    <div class="mb-4 px-2">
      <h3 class="mb-2">
        <span class="header2">更新日時</span>
      </h3>
      <div class="ml-8 text-xl font-bold">
        <time><%= @community.updated_at.strftime("%Y/%m/%d %H:%M") %></time>
      </div>
    </div>
    <!-- コミュニティ紹介 -->
    <div class="mb-4 px-2">
      <h3 class="mb-2">
        <span class="header2">コミュニティ紹介</span>
      </h3>
      <div class="ml-8 text-xl font-bold">
        <% if @community.description.present? %>
          <%= @community.description %>
        <% else %>
          <p>（未記入）</p>
        <% end %>
      </div>
    </div>
  </div>
</section>