<% content_for :title, "ユーザー登録" %>

<div class="text-center">
  <h2 class="mb-8">
    <span class="header1"><%= t(".sign_up") %></span>
    <p>ユーザーを作成します</p>
  </h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form" }) do |f| %>
    <%# ProfileモデルのデータをUserモデルのデータと同時に送信するする %>
    <%= f.fields_for :profile do |pf| %>
      <div class="field">
        <%= pf.label :nickname, "ニックネーム" %>
        <%= pf.text_field :nickname, autofocus: true, class: "text-field" %>
      </div>

      <div data-controller="prefecture-municipality" class="field">
        <p>マイタウン</p>
        <div class="mytown-selects">
          <%= pf.collection_select :prefecture_id, Prefecture.all, :id, :name_kanji, {}, { class: "select-field", data: { action: "change->prefecture-municipality#loadMunicipalities" }} %>

          <%= pf.collection_select :municipality_id, Municipality.where(prefecture_id: pf.object.prefecture_id || 1).order(:name_kana), :id, :name_kanji, {}, { class: "select-field", data: { prefecture_municipality_target: "municipality" }} %>
        </div>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", class: "text-field" %>
    </div>

    <div class="field">
      <%= f.label :password %>
<%
=begin
%>
      <% if @minimum_password_length %>
      <em><%= t("devise.shared.minimum_password_length", count: @minimum_password_length) %></em>
      <% end %>
<%
=end
%>
      <%= f.password_field :password, autocomplete: "new-password", class: "text-field" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-field" %>
    </div>

    <div class="field flex">
      <%= f.check_box :agreement, required: true, class: "ml-2 scale-150" %>
      <%= f.label :agreement, class: "flex-1 ml-4 text-center" do %>
        <%# link_to "利用規約","#", target: "_blank", class: "link text-xl" %>
        <span class="text-gray-400 text-xl">利用規約</span>
        <span> / </span>
        <%# link_to "プライバシーポリシー", "#", target: "_blank", class: "link text-xl" %>
        <span class="text-gray-400 text-xl">プライバシーポリシー</span>
        <div><span>に同意します</span></div>
      <% end %>
    </div>

    <div class="actions text-center">
      <%= f.submit nil, class: "button" %>
    </div>
  <% end %>
  <div>
    <%= link_to "戻る", new_user_session_path, class: "link text-xl underline" %>
  </div>
</div>
